/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
/* Make Text Unselectable*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
.textwioiuw {
  font-family: "Sora", sans-serif;
  text-align: center;
}
:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
.pwioiuw {
  font-size: large;
}
.mainfooterwioiuw {
  z-index: 999;
  position: relative;
  bottom: 0px;
}
.Sidebarwioiuw {
  height: 1650px;
  width: 300px;
  background-color: #1b2737;
  z-index: 1;
  position: absolute;
  padding: 0;
  left: 0;
  top: 85px;
}
.SideBarListwioiuw {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0;
  padding-left: 0%;
}

.SideBarListwioiuw .rowwioiuw {
  position: relative;
  height: 70px;
  width: auto;
  padding: 0%;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}
.SideBarListwioiuw .rowwioiuw:hover {
  cursor: pointer;
  background-color: #293846;
}
.rowwioiuw #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.rowwioiuw #title {
  flex: 70%;
}
.SideBarListwioiuw #active {
  background-color: #243245;
  border-left: 5px solid #ffffff;
}

.custemedtext {
  position: relative;
  color: #9b9d9e;
  padding: 0%;
  margin: 0%;
}
.custedmedtext {
  text-align: center;
  color: #4d4d4d;
  padding-top: 5%;
}
.customh1 {
  text-align: left;
  color: #4d4d4d;
  padding-top: 5%;
}
.custedemdp {
  text-align: left;
  color: #4d4d4d;
  font-size: large;
}

ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
  align-items: inherit;
}

.customdiv {
  position: static;
  bottom: 60px;
}
.customhr {
  position: absolute;
  left: 10%;
  width: 85%;
}
@media screen and (max-width: 760px) {
  .customMoblieFix {
    padding-left: 22px;
  }
}

.UserSideBarwoiuw {
  height: auto;
  width: auto;
  background-color: #f8f8f8;
  z-index: 1;
  /* position: fixed;  */
  padding: 0;
  position: sticky;
  top: 95px;
}

.UserSideBarListwioiuw {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0;
  padding-left: 0%;
}

.UserSideBarListwioiuw .rowwioiuw {
  position: relative;
  height: 60px;
  width: auto;
  padding: 0%;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #383636;
  justify-content: center;
  align-items: center;
}
.UserSideBarListwioiuw .rowwioiuw:hover {
  cursor: pointer;
  background-color: #5e9cff;
}

.UserSideBarListwioiuw #active {
  background-color: #5e9cff;
  border-left: 5px solid #00173b;
}
.userprofiletext {
  color: #4d4751;
}

.fa-trash-alt {
  color: red;
}

.customb {
  border-radius: 50%;
}
.custondropdown {
  position: relative;
  right: 50%;
}
.homepagecustomh1 {
  margin: 10px;
  padding: 40px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #303942;
}

/* CHatPage */

/* Find Pet Menu  */
.findPetMenu {
  position: relative;
  height: 100%;
  width: 50%;
  left: 20%;
  padding: 0%;
  margin: 0%;
  top: -140px;
}

.ul-nav {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0;
  padding-left: 0%;
  display: flex;
}
.ul-nav .li-nav {
  padding-left: 10px;
  padding-right: 35px;
  position: relative;
  height: 100px;
  width: 250px;
  background-color: #9bcf46;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
}

.ul-nav .li-nav:hover {
  cursor: pointer;
  background-color: #4dcdc4;
}
.li-nav #icon {
  flex: 30%;
  position: relative;
  display: grid;
  margin-right: 15px;
  margin-left: 0%;
}
.li-nav #title {
  flex: 100%;
}
.custominput {
  position: relative;
  background-color: transparent;
  border: none;
  width: 200px;
  height: 90px;
  padding: 0 20px 0 15%;
  box-sizing: border-box;
  outline: none;
}
.ul-nav .customli-nav {
  padding-left: 10px;
  padding-right: 35px;
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #79a334;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;

  border-radius: 10px 0 0 10px;
}
.ul-nav .customli-nav input::placeholder {
  color: white;
}
/* FindPetDropdown  */
.carousel-height {
  height: 400px;
}
.FindPetdropdown {
  width: 200px;
  margin: 0px auto;
  position: relative;
}
.FindPetdropdown .FindPetdropdown-btn {
  padding: 10px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0, 0.6);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.FindPetdropdown .FindPetdropdown-content {
  position: absolute;
  top: 160%;
  right: -35px;
  /* padding: 15px; */
  background: #4dcdc4;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0, 0.6);
  font-weight: 500;
  width: 250px;
  height: auto;
  border-radius: 0 0 10px 10px;
}
.FindPetdropdown .FindPetdropdown-content .FindPetdropdown-item {
  padding: 20px;
  cursor: pointer;
  transition: all(1000002s);
}

.FindPetdropdown .FindPetdropdown-content .FindPetdropdown-item:hover {
  background-color: #21252956;
  transition: all(0.2s);
}

.FindPetdropdown-city {
  width: 200px;
  margin: 0px auto;
  position: relative;
}

.FindPetdropdown-city .FindPetdropdown-content {
  position: absolute;
  top: 5px;
  right: -36px;

  background: #79a334;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0, 0.6);
  font-weight: 500;
  width: 246px;
  height: auto;
  border-radius: 8px 0 10px 10px;
}
.FindPetdropdown-city .FindPetdropdown-content .FindPetdropdown-item {
  padding: 20px;
  cursor: pointer;
  transition: all(1000002s);
}

.FindPetdropdown-city .FindPetdropdown-content .FindPetdropdown-item:hover {
  background: #21252956;
  transition: all(0.2s);
}

.petcards-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}
.img-cover {
  width: 100%;
  background-size: cover;
  height: 100%;
  vertical-align: middle;
  border-style: none;
  height: 750px;
  margin-bottom: 4rem;
}
.section-padding {
  padding-top: 5rem;
}

.img-cover2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.art-img {
  position: absolute;
  right: 0;
  top: 88%;
}
.art2-img {
  position: absolute;
  left: 0;
  top: 100%;
}

.newstpet-section {
  background-image: url("./images/bg1.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  width: 100%;
  height: 276px;
  background-color: rosybrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newstpet-section-img img {
  width: 160px;
  height: 180px;
}
.newstpet-section h1 {
  font-size: 55px;
  margin: 0;
  color: #9bcf46;
  margin-right: 28px;
}
.newstpet-section-img-cat img {
  width: 210px;
  height: auto;
}
@media screen and (max-width: 1232px) {
  .ul-nav {
    right: 28%;
    width: 60%;
  }
}
@media screen and (max-width: 1054px) {
  .ul-nav {
    right: 32%;
  }
}
@media screen and (max-width: 986px) {
  .ul-nav {
    width: 45%;
  }
}
@media screen and (max-width: 824px) {
  .ul-nav .li-nav {
    width: 200px;
  }
  .FindPetdropdown .FindPetdropdown-content {
    width: 200px;
    right: -29px;
  }
}
@media screen and (max-width: 760px) {
  .ul-nav .customli-nav {
    border-radius: 0;
  }
  .ul-nav .li-nav {
    width: 400px;
  }
  .ul-nav {
    right: 5%;
    width: 400px;
    flex-direction: column;
  }
  .FindPetdropdown .FindPetdropdown-content {
    width: 400px;
    right: -35px;
  }
}
@media screen and (max-width: 540px) {
  .ul-nav .li-nav {
    width: 290px;
  }
  .ul-nav {
    right: 7%;
    width: 290px;
    flex-direction: column;
  }
  .FindPetdropdown .FindPetdropdown-content {
    width: 290px;
    right: -35px;
  }
}
@media screen and (max-width: 350px) {
  .ul-nav .li-nav {
    width: 235px;
  }
  .ul-nav {
    right: 15%;
    width: 235px;
    flex-direction: column;
  }
  .FindPetdropdown .FindPetdropdown-content {
    width: 235px;
    right: -35px;
  }
}
